<?xml version="1.0"?>
<!--
/**
* @author Umer
* @copyriht Copyright (c) 2022 Umer
* Created by PhpStorm
* User: Umer
* Date: 6/3/22
* Time: 11:44 PM
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="helloworld" id="helloworld">
            <module name="Trial_PropertySystem"/>
        </route>
    </router>
</config>
